/* Main colors */
:root{
    --color1:#FFFFFF;
    --color2:#2E2F42;
    --color3:#4D5AE5;
    --color4:#434455;
    --color5:#404BBF;
    --color6:#F4F4FD;
    --color7:#E7E9FC;
    --color8:#F5F5FD;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--color1);
    background-color: var(--color1);
}
button{
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    width: 1158px;
margin: 0 auto;
padding: 0 15px;
}
/*top section*/
.topsection{
    box-shadow: 0px 2px 2px rgba(46, 47, 66, 0.16);
}
.header-container{
    display: flex;
    align-items: center;
    border-bottom: 1px;
    border-top: none;
}
/* Logo */
.webstudio{
    font-family: 'Raleway' , sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color2);
}
.web{
    color: var(--color3);
    }
.webstudio:focus{
    color: var(--color3);
}
/* main navigation */

/* nav */
.nav{  
    font-family: 'Roboto' , sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color2);
}

.list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
    .nav-list{
        display: flex;
        margin: 0;
        padding: 0; 
        gap: 46px;
        margin-left:77px;
    }
/* menu */
.menu{
    font-family: 'Roboto' , sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color2);
display:block;
padding-top: 24px;
padding-bottom: 24px;
}
.menu:focus,
.menu:hover{
    color: var(--color3)
}
/* contacts */
.nav-contacts{
    display: flex;
    align-items: center;
    margin-left: 331px;
    gap: 40px;
}
.contacts{
    font-family: 'Roboto' , sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color4);
display: block;
padding-top: 24px;
padding-bottom: 24px;
}
.nav-contacts{
    margin-left: auto;
}
.contacts:focus,
.contacts:hover{
    color: var(--color3);
}
/* 2 section */
.sectiontwo{
 background-color:var(--color2); 
 display: block;
 text-align: center;
 padding-top: 192px;
 padding-bottom: 192px;
}
.effectivesolutions{
    font-family: 'Roboto' , sans-serif;
font-weight: 600;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--color1);
width: 550px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}
.for-your-business{
    padding-left: 15px;
}
/* button */
.buttonorder{
    font-family: 'Roboto' , sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.18 ;
letter-spacing: 0.04em;
color: var(--color1);
background: var(--color3);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
padding: 16px 32px;
}
.buttonorder:focus{
    color: var(--color1);
    background-color: var(--color5)
}
.buttonorder:hover {
        background:var(--color5);
      }
/* 3 section */
.section-three{
    padding-top: 120px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
.ul-description{
    display: flex;
    margin: 0;
    padding: 0;
    gap:24px;
  }
.ul-description li{
    flex-basis: calc((100% - 72px)/4);
}
.description{
    font-family: 'Roboto' , sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color2);
}
.text{
    font-family: 'Roboto' , sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color4);
margin-top: 8px;
margin-bottom: 0;
}
/* <! what are we doing */
.section-doing{
    padding-top: 120px;
    padding-bottom: 120px;
}
.pix-Ñontainer-doing{
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 72px;
}
.doing{
    font-family: 'Roboto' , sans-serif;
font-weight: 600;
font-size: 36px;
line-height: 1;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color2);
margin: 0;
text-align: center;
}
.doing-img{
    list-style-type: none;
    margin-right: 24px;
}
/* our team */
.team {
    color: var(--color2);
    background-color: #f4f4fd;
    display: block;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-title {
    margin: 0;
    text-align: center;
    font-size: 36px;
  }
  
  .img-member {
    display: block;
  }
  .team-member {
    display: block;
    list-style-type: none;
    background-color: #ffffff;
  }
  .team-member:not(:first-child) {
    margin-left: 24px;
  }
  .team-member-name {
    text-align: center;
    padding-top: 32px;
    margin-bottom: 0;
  }
  .team-member-position {
    color: var(--color4);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 32px;
  }
  .team-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 72px;
  }
  .footer {
    color: #e7e9fc;
    background-color: var(--color2);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .studio-footer {
    color: #f4f4fd;
  }
  .footer-text {
    max-width: 264px;
    margin: 0;
    padding: 0;
    padding-top: 16px;
  }








/* buttom section */
.buttom{
background-color: var(--color2);
padding-top: 100px;
padding-bottom: 100px;
}
.buttomwebstudio{
font-family: 'Raleway' , sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--color6);
}
.buttomwebstudio:focus{
    color: var(--color3);
}
.buttomtext{
    font-family: 'Roboto' , sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.3;
letter-spacing: 0.02em;
color:var(--color7);
max-width: 264px;
margin: 0;
padding: 0;
margin-top: 16px;
}










/* 2PAGE */
.picturedescription{
    padding: 32px 16px;
border-top:none;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
/*  5button */
.filter {
    margin-top: 96px;
    margin-bottom: 120px;
  }
.filter-buttons{
    list-style-type: none;
display: flex;
margin: 0;
padding: 0;
justify-content: center;
gap: 24px;
padding-bottom:72px;
}
.button{
    font-family: 'Roboto' , sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.3;
letter-spacing: 0.04em;
color: var(--color3);
background:var(--color6);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
cursor: pointer;
padding: 12px 24px;
}
.button:hover {
    color: var(--color1);
background:var(--color5);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
  }
.button:focus{
    color: var(--color1);
    background:var(--color3)
  }
  /* 9photo */
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
  .pix{
    display: flex;
 flex-wrap: wrap;
 margin-right:-24px;
 margin-bottom:-48px;
  }
 .pix li{
    margin-right:24px;
    margin-bottom:48px;
  } 
  .title{
    font-family: 'Roboto' , sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.3;
letter-spacing: 0.02em;
color: var(--color2);
margin-bottom: 8px;
}
.recital{
    font-family: 'Roboto' , sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.3;
letter-spacing: 0.02em;
color:var(--color4);
}